charger-proxy/src/main/resources/ws/charge.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://ifpb.com/charger-proxy"
           targetNamespace="http://ifpb.com/charger-proxy" 
           elementFormDefault="qualified">

    <!-- Charge Operations -->
    <xs:element name="createChargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="billingType" type="xs:string"/>
                <xs:element name="value" type="xs:decimal"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="installmentCount" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createChargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="billingType" type="xs:string"/>
                <xs:element name="value" type="xs:decimal"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="invoiceUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="bankSlipUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="pixQrCode" type="xs:string" minOccurs="0"/>
                <xs:element name="dateCreated" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getChargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getChargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="billingType" type="xs:string"/>
                <xs:element name="value" type="xs:decimal"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="invoiceUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="bankSlipUrl" type="xs:string" minOccurs="0"/>
                <xs:element name="pixQrCode" type="xs:string" minOccurs="0"/>
                <xs:element name="dateCreated" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateChargeStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateChargeStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="dateCreated" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelChargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelChargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
