charger-proxy/src/main/resources/ws/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ifpb.com/charger-proxy"
    targetNamespace="http://ifpb.com/charger-proxy"
    elementFormDefault="qualified">

    <xs:element name="MessageContent" type="xs:string"/>
    <xs:element name="MessageId" type="xs:long"/>

    <xs:element name="MessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

