charger-manager/src/main/resources/wsdl/charge-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ifpb.com/charger-proxy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ifpb.com/charger-proxy" targetNamespace="http://ifpb.com/charger-proxy">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ifpb.com/charger-proxy">

    <!-- Charge Operations -->
    <xs:element name="createChargeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:string"/>
                <xs:element name="billingType" type="xs:string"/>
                <xs:element name="value" type="xs:decimal"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element minOccurs="0" name="installmentCount" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createChargeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chargeId" type="xs:string"/>
                <xs:element minOccurs="0" name="installmentId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element minOccurs="0" name="invoiceUrl" type="xs:string"/>
                <xs:element minOccurs="0" name="bankSlipUrl" type="xs:string"/>
                <xs:element minOccurs="0" name="pixQrCode" type="xs:string"/>
                <xs:element name="createdAt" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createChargeResponse">
    <wsdl:part element="tns:createChargeResponse" name="createChargeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createChargeRequest">
    <wsdl:part element="tns:createChargeRequest" name="createChargeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ChargePort">
    <wsdl:operation name="createCharge">
      <wsdl:input message="tns:createChargeRequest" name="createChargeRequest">
    </wsdl:input>
      <wsdl:output message="tns:createChargeResponse" name="createChargeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChargePortSoap11" type="tns:ChargePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createCharge">
      <soap:operation soapAction=""/>
      <wsdl:input name="createChargeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createChargeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChargePortService">
    <wsdl:port binding="tns:ChargePortSoap11" name="ChargePortSoap11">
      <soap:address location="http://192.168.56.32:8082/ws/charge"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>