charger-manager/src/main/resources/wsdl/customer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ifpb.com/charger-proxy"
           xmlns:tns="http://ifpb.com/charger-proxy"
           elementFormDefault="qualified">

    <!-- Register customer in external provider -->
    <xs:element name="registerCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="cpfCnpj" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerExternalId" type="xs:string"/>
                <xs:element name="externalCreatedAt" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
