charger-manager/src/main/resources/wsdl/hello-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ifpb.com/charger-proxy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ifpb.com/charger-proxy" targetNamespace="http://ifpb.com/charger-proxy">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ifpb.com/charger-proxy">

    <xs:element name="MessageContent" type="xs:string"/>
    <xs:element name="MessageId" type="xs:long"/>

    <xs:element name="MessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="MessageResponse">
    <wsdl:part element="tns:MessageResponse" name="MessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloPort">
    <wsdl:operation name="Message">
      <wsdl:output message="tns:MessageResponse" name="MessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloPortSoap11" type="tns:HelloPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Message">
      <soap:operation soapAction=""/>
      <wsdl:output name="MessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloPortService">
    <wsdl:port binding="tns:HelloPortSoap11" name="HelloPortSoap11">
      <soap:address location="http://localhost:8082/ws/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
